<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% if form.errors %}
<p>Неверный логин или пароль</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p>У вашей учетной записи нет прав для просмотра этой страницы</p>
{% endif %}{% endif %}
<form method="post" >
    {% csrf_token %}
    <div>
        <label>
            {{ form.username.label_tag }}
            {{ form.username }}
        </label>
    </div>
    <hr>
    <div>
        <label>
            {{ form.password.label_tag }}
            {{ form.password }}
        </label>
    </div>
    <input type="submit" name="Войти">
</form>

</body>
</html>