{% extends 'posts/base.html' %}
{% block title %} user.username {% endblock %}

{% block content %}

    <h1>{{ user.user.username }}</h1>

  <div class="row row-cols-1 row-cols-md-4 g-4">


    {% for post in posts %}
        <div class="col">
         <div class="card h-100" style="max-height: 400px; text-overflow: ellipsis;overflow: hidden;">
            <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
            <a href="{% url 'update' post.id %}" class="card-link">Изменить</a>
            <a href="{% url 'get_post' post.id %}" class="card-link">Посмотреть</a>
            </div>
            <p class="card-text" >{{ post.content }}</p>

        </div>
        </div>
    {% endfor %}

    </div>
{% endblock %}
