{% extends 'polls/index.html' %}
{% block content %}
<form action="{% url 'polls:vote' question.testnumb_id question.queue %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><div class="fs-1 fst-italic fw-bold">{{ question.question_text }}</div></legend>
        {% if error_message %}
            <p class="fw-bold text-danger">{{ error_message }}</p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <div  class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>

            </div>
        {% endfor %}
    </fieldset>
    <div class="mt-3">
        <input class="btn btn-success" type="submit" value="Выбрать">
    </div>
</form>
{% endblock %}